body {
  font-family: Work Sans;
  text-align: center;
  background-color: rgb(143, 93, 62);

}

.navbar, .navbar-brand {
  text-align: left;
  display: block;
  width: 100%;
  
}

div.navbar-brand {
  padding-top: 3em;
  margin-bottom: 3em;
  
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

main {
  margin-top: 3em;
  margin-bottom: 1em;
  margin-left: 30em;
  margin-right: 30em;
}

.pic {
  width: 150px;
}

.label {
  text-align: left;
}

footer.footer {
  background-color: rgb(143, 93, 62)e;
}


@media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}